$primary-color: #59666F;
$secondary-color: #FFFFFF;
$tertiary-color: #FE7C6E;
$quaternary-color: #FE877A;
$quinary-color:  #FAFAFA;
$bg-primary-color: $secondary-color;
$bg-secondary-color: $quinary-color;
$bg-tertiary-color: $tertiary-color;
$bg-table-primary: $quaternary-color;
$bg-table-secondary: $tertiary-color;
$shadow-down: 0px 2px 4px 0px #0000000D;
$shadow-right: 2px 0px 4px 0px #0000000D;
$border-radius: 8px;
$text-color: $primary-color;